---
import { Image } from "astro:assets";
// ASTRO COMPONENTS
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import ContentTitle from "@components/ContentTitle.astro";
import Picture from "@components/Picture.astro";
import PictureCard from "@components/PictureCard.astro";
import HorizontalRule from "@components/HorizontalRule.astro";
import PerformingList from "@/components/PerformingList.astro";
import CommunityList from "@/components/CommunityList.astro";

// SVELTE COMPONENTS
import NavLink from "@components/NavLink.svelte";
import ImageCarousel from "@components/ImageCarousel.svelte";
import MoreContainer from "@components/MoreContainer.svelte";
import ModalButton from "@/components/ModalButton.svelte";

// IMAGE ASSETS
import tveLogo from "@images/supporters/tve.jpg";
import hfwLogo from "@images/supporters/hfw.png";
import homeSplash from "@images/home-splash.png";
import mobileSplash from "@images/splash-mobile--772x711.png";
import catPiano from "@images/cat-piano.png";
import octopercusion from "@images/octopercusion--409x274.png";
import schedule from "@images/2023-tacoma-honk-schedule.png";
import map from "@images/2023-tacoma-honk-map.png";
const pamphletDownloadPath = "/2023-tacoma-honk-pamphlet.pdf";

// CAROUSEL 01
import honkPhoto059 from "@images/photos/2023-06-01-HONK-059.jpg";
import honkPhoto522 from "@images/photos/2023-06-02-HONK-522.jpg";
import honkPhoto388 from "@images/photos/2023-06-03-HONK-388.jpg";
import honkPhoto030 from "@images/photos/2023-06-04-HONK-030.jpg";
import honkPhoto894 from "@images/photos/2023-06-04-HONK-894.jpg";
const slides01 = [
  {
    img: honkPhoto059,
    alt: "Neon Brass Party - H!FW Thurs 2023 - @espressobuzz",
  },
  { img: honkPhoto522, alt: "Soul Jambalaya - H!FW Fri 2023 - @espressobuzz" },
  { img: honkPhoto388, alt: "Brassless Chaps - H!FW Sat 2023 - @espressobuzz" },
  { img: honkPhoto030, alt: "Artesian Rumble - H!FW Sun 2023 - @espressobuzz" },
  { img: honkPhoto894, alt: "Sticks & Bones - H!FW Sun 2023 - @espressobuzz" },
];

// CAROUSEL 02
import tacomarama01 from "@images/photos/tacomarama-01.jpg";
import tacomarama02 from "@images/photos/tacomarama-02.jpg";
import tacomarama03 from "@images/photos/tacomarama-03.jpg";
import tacomarama04 from "@images/photos/tacomarama-04.jpg";
const slides02 = [
  { img: tacomarama01, alt: "Tacomarama!" },
  { img: tacomarama02, alt: "Tacomarama!" },
  { img: tacomarama03, alt: "Tacomarama!" },
  { img: tacomarama04, alt: "Tacomarama!" },
];
---

<BaseLayout>
  <div class="md:w-10/12 mx-auto mb-4">
    <div class="block md:hidden">
      <Picture
        img={mobileSplash}
        alt="Tacoma HONK! | 1-5PM | October 21 | McKinley Hill"
      />
    </div>
    <div class="hidden md:block">
      <Picture
        img={homeSplash}
        alt="Tacoma HONK! | 1-5PM | October 21 | McKinley Hill"
      />
    </div>
  </div>
  <div class="flex flex-col gap-4 sm:gap-8">
    <div class="z-10 flex justify-center">
      <!-- <NavLink
        href="https://docs.google.com/forms/d/e/1FAIpQLSdViYO7T8YXCqQOfzHPJcb2ap432dLPZvXu12lTYKTi9egvqQ/viewform?usp=sf_link"
      >
        Volunteer HERE!
      </NavLink> -->
      <p class="bg-primary-400 px-4 py-1 rounded-xl">
        <span class="font-bold text-xl text-center block">
          Hey folks! Show up at the Info Booth if you want to volunteer.
        </span>
        <span class="italic block text-right text-lg font-semibold"
          >~ Irina</span
        >
      </p>
    </div>

    <div class="z-10 flex justify-around flex-col sm:flex-row gap-y-3">
      <ModalButton client:only="svelte" download={pamphletDownloadPath}>
        <span slot="btn-label" class="flex gap-x-2 justify-center">
          <span>Schedule</span>
          <span
            ><svg
              class="h-9 w-6"
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="black"
              fill-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="2"
              clip-rule="evenodd"
              fill="currentColor"
            >
              <path
                d="M2.049 11A10.012 10.012 0 0 1 11 2.049V4a1 1 0 0 0 2 0V2.049c4.721.47 8.481 4.23 8.951 8.951H20a1 1 0 0 0 0 2h1.951A10.012 10.012 0 0 1 13 21.951V20a1 1 0 0 0-2 0v1.951A10.012 10.012 0 0 1 2.049 13H4a1 1 0 0 0 0-2H2.049ZM11 8v3.586l-3.707 3.707a1 1 0 0 0 1.414 1.414l4-4A.997.997 0 0 0 13 12V8a1 1 0 0 0-2 0Z"
              ></path>
            </svg></span
          >
        </span>
        <Image src={schedule} alt="2023 Festival Schedule" class="modal-img" />
      </ModalButton>
      <ModalButton client:only="svelte" download={pamphletDownloadPath}>
        <span slot="btn-label" class="flex gap-x-2 justify-center">
          <span>Map</span>
          <span
            ><svg
              class="h-9 w-6"
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              viewBox="0 0 18 18"
              stroke-width="1"
              stroke="black"
              fill="currentColor"
            >
              <path
                d="m13.597 15.059-6.293-3.332a.505.505 0 0 0-.519.03l-4.812 3.332a.5.5 0 0 0 .284.911h11.105a.5.5 0 0 0 .235-.941zM14.223 7.446a.5.5 0 0 0-.773-.303l-4.813 3.332a.498.498 0 0 0 .051.852l6.292 3.332a.501.501 0 0 0 .537-.044.5.5 0 0 0 .186-.506l-1.48-6.663zM12.221 6.351A.501.501 0 0 0 11.743 6H7.179c-.83 1.503-2.058 2.94-2.563 3.502-.284.316-.691.498-1.116.498s-.832-.182-1.116-.498a24.49 24.49 0 0 1-.843-.994l-1.21 5.446a.502.502 0 0 0 .773.519L12.027 6.91a.498.498 0 0 0 .194-.559z"
              ></path><path
                d="M3.5 9a.502.502 0 0 0 .372-.166C4.192 8.477 7 5.296 7 3.5 7 1.57 5.43 0 3.5 0S0 1.57 0 3.5c0 1.796 2.808 4.977 3.128 5.334.095.105.23.166.372.166zM2 3.5a1.5 1.5 0 1 1 3.001.001A1.5 1.5 0 0 1 2 3.5z"
              ></path></svg
            >
          </span>
        </span>
        <Image src={map} alt="2023 Festival Schedule" class="modal-img" />
      </ModalButton>
    </div>

    <ContentContainer id="festival">
      <ContentTitle>
        <span>Tacoma&nbsp;HONK!&nbsp;Fest</span>
        <span slot="sub-title"
          >Oct / 21<span class="super align-super text-lg sm:text-xl">st</span>
           / 2023</span
        >
        <span class="opacity-90" slot="sub-title-2">McKinley</span>
        <span class="opacity-80" slot="sub-title-3">Hill</span>
      </ContentTitle>
      <MoreContainer client:visible>
        <!-- <div class="flex justify-center">
          <ScheduleButton client:only="svelte"/>
        </div> -->
        <div class="md:columns-2">
          <p class="mb-2 first-line:uppercase first-line:tracking-widest">
            Get spooky at Tacoma’s first annual HONK! Fest on Oct 21st, 2023 in
            the McKinley Hill neighborhood. Put on your favorite costume
            (Galloping Gertie anyone?) and bring a funky noisemaker. Meet your
            neighbors, local musicians, maybe even join a band!
          </p>
          <p class="mb-2">
            Tacoma HONK! Fest is an accessible community music festival driven
            by the energetic performances of PNW street bands and cultural
            groups in public spaces. And it’s free of charge!
          </p>
          <p class="mb-2">
            Instead of formal stages, bands will be moving and marching and
            dancing around. The audience is always welcome to join in!
          </p>
          <p>
            We encourage you to walk, bike, or take public transit to the
            festival. Feel free to walk (or dance) between the stage areas set
            up in the McKinley Hill business district.
          </p>
        </div>
        <HorizontalRule />
        <div
          class="flex flex-col gap-y-7 lg:gap-y-0 lg:grid lg:grid-cols-2 lg:gap-x-7"
        >
          <PerformingList />
          <CommunityList />
        </div>
        <ImageCarousel slides={slides01} client:visible />
        <p class="italic font-semibold text-lg text-right mr-2">
          photos by <a href="https://www.espressobuzz.net/">espressobuzz</a>
        </p>
      </MoreContainer>
    </ContentContainer>

    <ContentContainer id="wanna">
      <ContentTitle>Wanna HONK! with us?</ContentTitle>
      <MoreContainer client:visible>
        <div class="md:columns-2">
          <p class="mb-2 first-line:uppercase first-line:tracking-widest">
            Dust off your middle school clarinet, your undergrad English Horn,
            or find that shoebox with that 3rd grade recorder, and jump in on
            the public jam session (details <a
              href="https://www.google.com/url?q=https://drive.google.com/file/d/1U5Kgner-yLZGpqDahRyU53JvG7u1ByMI/view?usp%3Ddrive_link&sa=D&source=docs&ust=1696962515509241&usg=AOvVaw2ZbYsnbI0NSX1ctdy00Kvm"
              >here</a
            >). We welcome anyone interested, regardless of age or experience.
          </p>
        </div>
      </MoreContainer>
    </ContentContainer>

    <div class="flex flex-col md:flex-row-reverse">
      <div class="block md:hidden mb-4 w-11/12 mx-auto">
        <PictureCard img={octopercusion} alt="Octopus playing the percusion" />
      </div>

      <ContentContainer id="how">
        <ContentTitle>How the heck did Tacoma get its own HONK!?</ContentTitle>
        <MoreContainer client:visible>
          <p>
            Tacoma HONK! is hosted by Tacomarama Community Street Band,
            sponsored by HONK! Festival West, and made possible with funding
            from Tacoma Venues and Events.
          </p>
          <div
            class="flex gap-x-4 xl:gap-x-6 justify-center items-center flex-none"
          >
            <a
              href="https://www.tacomavenues.org/"
              class="block bg-white border-black border-4 p-2 rounded-xl hover:scale-105 hover:border-base-700"
            >
              <Image
                src={tveLogo}
                alt="TACOMA Venues & Events"
                class="h-14 sm:h-16 w-fit"
              />
            </a>
            <a
              href="https://honkfestwest.org"
              class="block border-black border-4 p-2 rounded-xl bg-base-400 hover:scale-105 hover:border-base-700"
            >
              <Image
                src={hfwLogo}
                alt="HONK! Fest West"
                class="h-14 sm:h-16 w-fit"
              />
            </a>
          </div>
        </MoreContainer>
      </ContentContainer>
    </div>

    <ContentContainer id="why">
      <ContentTitle>Why McKinley Hill?</ContentTitle>
      <MoreContainer client:visible>
        <p
          class="md:columns-2 mb-2 first-line:uppercase first-line:tracking-widest"
        >
          Not only is McKinley Hill one of the oldest neighborhoods in Tacoma
          and has some of the coolest views of the Dome, but it's also home to
          fun and eclectic businesses and a vibrant, active, and engaged
          community. It’s a Tacoma gem that Tacoma HONK! is excited to show off.
        </p>
      </MoreContainer>
    </ContentContainer>

    <div class="block md:hidden w-11/12 mx-auto">
      <PictureCard img={catPiano} alt="Cat dancing on piano keys." />
    </div>

    <ContentContainer id="tacomarama">
      <ContentTitle>Meet our host band TACOMARAMA!</ContentTitle>
      <MoreContainer client:visible>
        <div
          class="md:columns-2 mb-2 first-line:uppercase first-line:tracking-widest"
        >
          <p>
            Tacomarama Community Street Band is a music ensemble that regularly
            performs at Tacoma-based events, including Tacoma Light Trail
            Parade, Tacoma Porchfest, and numerous neighborhood celebrations.
            They’re proud of being all ages and all inclusive, so much so that
            if you get close enough, a stray trombone may hook your Rainiers
            hoodie and yank you into the band forever.
            <a href="https://tacomarama.org">tacomarama.org</a>
          </p>
        </div>
        <HorizontalRule />
        <ImageCarousel slides={slides02} client:visible />
      </MoreContainer>
    </ContentContainer>

    <ContentContainer id="contact">
      <ContentTitle>Contact Us</ContentTitle>
      <ul
        class="text-center list-inside font-bold flex flex-col gap-2 opacity-90"
      >
        <li class="truncate">
          <a class="text-md sm:text-2xl" href="mailto:tacomahonk@gmail.com"
            >tacomahonk@gmail.com</a
          >
        </li>
        <li class="truncate">
          <a
            class="text-md sm:text-2xl"
            href="https://www.instagram.com/tacomahonk"
            >www.instagram.com/tacomahonk</a
          >
        </li>
        <li class="truncate">
          <a
            class="text-md sm:text-2xl"
            href="https://www.facebook.com/tacomahonk"
            >www.facebook.com/tacomahonk</a
          >
        </li>
      </ul>
    </ContentContainer>
  </div>
</BaseLayout>

<style>
  .modal-img {
    width: auto;
    height: calc(100vh - 11rem);
    object-fit: contain;
  }
</style>
